@import "tailwindcss/preflight"; /* replaces @tailwind base */
@import "tailwindcss/utilities"; /* replaces both @tailwind components + utilities */
@import "tailwindcss";

@theme {
    --color-primary: #a2d4fc;
    --color-secondary: #495a9f;
    --color-background: #FAFAFA;

    --color-text: #739e24;       
    --color-accent: #c7a518;  
}


/* Custom styles */

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: black;
    opacity: 0.5;

    img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 550px) {
    #pageSearch {
      width: 250px;
    }
  }